[Unit]
Description=WiFi Manager Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/asdff/wifi-manager-btn
Environment=PATH=/usr/bin:/usr/sbin:/bin:/sbin:${PATH}
Environment=VIRTUAL_ENV=/home/asdff/wifi-manager-btn/venv
ExecStart=/home/asdff/wifi-manager-btn/venv/bin/python3 app.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target