<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons8-favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/images/icons8-favicon-64.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons8-favicon-96.png">
    
    <title>SERIAL MONITOR</title>
    <style>
        body {
            background-color: #4CAF50;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            color: white;
        }
    </style>
</head>
<body>
    <h1>SERIAL MONITOR</h1>
</body>
</html>