<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons8-favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/images/icons8-favicon-64.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons8-favicon-96.png">

    <title>Komorebi Stick Wi-Fi Configuration</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Komorebi Stick Wi-Fi Configuration</h1>
        <input type="text" id="network-name" placeholder="Enter network name (SSID)">
        <div class="password-container">
            <input type="password" id="password" placeholder="Enter password">
            <button id="toggle-password" type="button">👀</button>
        </div>
        <button id="connect-btn">Connect</button>
        <div id="status"></div>
    </div>

    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>